#proactive-offer-container input[type=text]::-ms-clear {
	display: none
}

#proactive-offer-container input,
#proactive-offer-container textarea {
	font-family: proxima nova, Arial, sans-serif
}

#proactive-offer-container .form-gray li {
	margin-bottom: 10px;
	float: left;
	position: relative;
	cursor: normal
}

#proactive-offer-container .form-gray label {
	display: none;
	position: relative
}

#proactive-offer-container .form-gray label.checkbox-container {
	display: block;
	opacity: 1
}

#proactive-offer-container .form-gray input,
#proactive-offer-container .form-gray textarea {
	float: left;
	height: 24px;
	font-size: 15px;
	vertical-align: middle;
	padding: 7px 0 6px 11px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	box-shadow: 0 2px 7px #e9e7e7 inset;
	-webkit-box-shadow: inset 0 2px 7px #e9e7e7 #ccc;
	-moz-box-shadow: inset 0 2px 7px #e9e7e7 #ccc;
	-ms-box-shadow: inset 0 2px 7px #e9e7e7 #ccc
}

#proactive-offer-container .form-gray input[type=submit] {
	padding: 7px;
	color: #fff;
	background-color: #666;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px gray;
	font-family: DNRB;
	text-transform: uppercase
}

#proactive-offer-container .form-gray .select-label .toggle {
	display: block;
	float: right;
	height: 40px;
	width: 44px;
	background-image: url(//d1eipm3vz40hy0.cloudfront.net/images/p-demo/icon-select.png);
	background-position: right -2px;
	background-repeat: no-repeat;
	background-size: 90%
}

#proactive-offer-container .form-gray .select-label {
	float: left;
	height: 36px;
	font: 0.95em/2.6 "Proxima Nova", Arial, sans-serif;
	color: #999;
	padding: 0 0 0 12px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #d5d5d5;
	box-shadow: inset 0 -16px 43px #fafafa;
	background: #fff;
	display: inline-block
}

#proactive-offer-container .form-gray .select {
	position: absolute;
	left: 0;
	font-family: arial;
	margin: 0;
	padding: 0 0 0 12px;
	box-shadow: 0 1px 1px #b8b6a5 inset;
	border: 1px solid #b8b6a5;
	color: #888;
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0
}

#proactive-offer-container .form-gray .btn-submit {
	float: none;
	height: 10px;
	margin: 0 auto;
	padding: 14px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px
}

#proactive-offer-container .form-gray button.btn-submit {
	box-sizing: content-box;
	outline: none;
	transition: background-color .3s
}

#proactive-offer-container .form-gray .set {
	color: #555
}

#proactive-offer-container .form-gray .loading {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
	background: #fff;
	background: rgba(255, 255, 255, .4);
	border-radius: 5px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 2px 7px #d6d5d5;
	display: none
}

#proactive-offer-container .form-gray .loading .loading-inner {
	display: table-cell;
	vertical-align: middle
}

#proactive-offer-container .form-gray .loading-img {
	margin: 0 auto;
	background-image: url(//d1eipm3vz40hy0.cloudfront.net/images/signup/loader.gif);
	height: 178px;
	width: 178px;
	display: block
}

#proactive-offer-container .form-gray .loading p {
	color: #999;
	font: 13px/1.35 "Proxima Nova", Arial, sans-serif
}

#proactive-offer-container .form-gray .loading p span {
	font: 13px/1.35 "Proxima Nova", Arial, sans-serif;
	color: #666
}

#proactive-offer-container .separator {
	width: 100%;
	display: inline-block;
	clear: both;
	height: 0;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #f3f3f3;
	margin: 20px 0
}

#proactive-offer-container .form-gray .error label,
#proactive-offer-container .form-gray .error .radio-error {
	width: 210px;
	margin-right: -10px;
	font: 13px/1.5 "Proxima Nova", Arial, sans-serif;
	padding: 0 0 2px 25px;
	color: #da491c;
	cursor: default;
	opacity: 0;
	background: url(//d1eipm3vz40hy0.cloudfront.net/images/p-demo/icon-error.png) 2px 0 no-repeat
}

#proactive-offer-container .form-gray .error label.radio-label,
#proactive-offer-container .form-gray .error .radio-error.radio-label {
	background: 0 0;
	opacity: 1;
	color: #3d5154;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	margin-right: 30px;
	font: 14px/1.3 "Proxima Nova", Arial, sans-serif
}

#proactive-offer-container .form-lead {
	width: 590px;
	position: relative
}

#proactive-offer-container .form-lead li {
	width: 280px;
	list-style: none
}

#proactive-offer-container .form-lead li.opt-in-field {
	width: 100%
}

#proactive-offer-container .form-lead li input {
	width: 277px
}

#proactive-offer-container .form-lead li:nth-child(odd) {
	margin-right: 20px
}

#proactive-offer-container .form-lead li:nth-child(odd).opt-in-field {
	margin-right: 0
}

#proactive-offer-container .form-lead .select-label {
	width: 276px
}

#proactive-offer-container .form-lead .select {
	height: 41px;
	width: 276px;
	margin-left: 10px
}

#proactive-offer-container .form-lead .btn-submit {
	min-width: 120px;
	float: right
}

#proactive-offer-container .form-lead #mktFrmButtons label {
	position: absolute;
	top: 13px;
	font-family: proxima nova, Arial, sans-serif;
	color: gray;
	font-size: 14px
}

#proactive-offer-container .form-lead .radio {
	padding-left: 25px;
	display: block;
	background: url(//d1eipm3vz40hy0.cloudfront.net/images/lead-form.png) 0 -99px no-repeat;
	height: 20px
}

#proactive-offer-container .form-lead .radio.solo {
	padding-left: 0
}

#proactive-offer-container .form-lead label.r_on {
	background: url(//d1eipm3vz40hy0.cloudfront.net/images/lead-form.png) 0 -79px no-repeat
}

#proactive-offer-container .form-lead .radio input {
	position: absolute;
	left: -9999px
}

#proactive-offer-container .form-lead p.help {
	float: left;
	font: 14px/1 "Proxima Nova", Arial, sans-serif;
	color: #484848;
	margin: 13px 5px 0;
	padding: 0
}

@media only screen and (max-width:799px) {
	#proactive-offer-container .form-lead p.help {
		display: none!important
	}
}

#proactive-offer-container .form-lead .loading {
	height: 287px
}

#proactive-offer-container .form-contact {
	width: 480px;
	position: relative
}

#proactive-offer-container .form-contact input[name=name],
#proactive-offer-container .form-contact input[name=company] {
	margin-right: 20px
}

#proactive-offer-container .form-contact input[name=newsletter] {
	border: none;
	width: 25px;
	height: 25px;
	text-align: left;
	padding: 0
}

#proactive-offer-container .form-contact input,
#proactive-offer-container .form-contact textarea {
	width: 217px;
	height: 24px
}

#proactive-offer-container .form-contact textarea {
	width: 467px;
	height: 245px
}

#proactive-offer-container .form-contact input[type=submit] {
	width: 120px;
	margin-left: 15px
}

#proactive-offer-container .form-contact select {
	height: 40px;
	width: 478px
}

#proactive-offer-container .form-contact .select-fat,
#proactive-offer-container .form-contact .select-fat select {
	width: 466px
}

#proactive-offer-container .form-contact .select-skinny,
#proactive-offer-container .form-contact .select-skinny select {
	width: 216px;
	margin-right: 20px
}

#proactive-offer-container .form-contact .news {
	margin-top: 10px
}

#proactive-offer-container .form-contact .news span {
	font-size: 13px;
	margin: 6px 0 0;
	width: 200px;
	color: gray;
	float: left
}

#proactive-offer-container .form-contact .btn-submit {
	display: block;
	width: 160px;
	margin: 0 auto
}

#proactive-offer-container .form-contact .loading {
	height: 545px
}

#proactive-offer-container .form-demo,
#proactive-offer-container .form-demo ul {
	width: 200px;
	margin: 0;
	padding: 0;
	position: relative
}

#proactive-offer-container .form-demo ul li {
	list-style: none;
	margin: 0 0 10px
}

@media only screen and (max-width:799px) {
	#proactive-offer-container .form-demo ul li {
		width: 100%
	}
}

#proactive-offer-container .form-demo ul li label {
	display: none;
	opacity: 0;
	float: left;
	margin: 10px 0
}

#proactive-offer-container .form-demo input {
	width: 188px
}

@media only screen and (max-width:799px) {
	#proactive-offer-container .form-demo input {
		width: 90%
	}
}

#proactive-offer-container .form-demo .orange.button,
#proactive-offer-container .form-demo .button-white {
	padding: 4px 10px 10px;
	margin-bottom: 0;
	width: 180px
}

#proactive-offer-container .form-demo .button-white {
	padding: 12px 10px 6px;
	margin-top: 0
}

#proactive-offer-container .form-demo .select {
	width: 200px;
	height: 38px
}

#proactive-offer-container .form-demo .select-label {
	width: 187px;
	height: 36px
}

@media only screen and (max-width:799px) {
	#proactive-offer-container .form-demo .select-label {
		width: 90%
	}
}

#proactive-offer-container .form-demo .select-label.hover {
	box-shadow: inset 0 -16px 33px #eee
}

#proactive-offer-container .form-demo .select-label span.toggle {
	display: block;
	float: right;
	height: 40px;
	width: 44px;
	background-image: url(//d1eipm3vz40hy0.cloudfront.net/images/p-demo/icon-select.png);
	background-position: right -2px;
	background-repeat: no-repeat;
	background-size: 90%
}

#proactive-offer-container .form-demo .loading {
	height: 185px
}

#proactive-offer-container .form-startup {
	width: 960px;
	margin-bottom: 50px;
	padding: 0 55px 30px 40px;
	overflow: hidden
}

#proactive-offer-container .form-startup .app {
	text-align: center;
	margin: 0 auto;
	width: 740px
}

#proactive-offer-container .form-startup p {
	margin: 0 0 10px 2px;
	line-height: 22px;
	color: #666
}

#proactive-offer-container .form-startup h3 {
	font: 47px/1.2em DNLTUL;
	color: #78a300;
	margin: 30px 0 25px;
	text-align: center
}

#proactive-offer-container .form-startup h3 strong {
	font: 28px/1.2em DNRM;
	color: #444
}

#proactive-offer-container .form-startup ul {
	float: left;
	width: 350px;
	margin: 10px 0 20px 20px
}

#proactive-offer-container .form-startup ul li {
	margin: 0 0 13px;
	text-align: left;
	line-height: 22px;
	list-style: none
}

#proactive-offer-container .form-startup ul li input,
#proactive-offer-container .form-startup ul li textarea {
	font: 15px/1.5 PNL;
	color: #555;
	box-shadow: none
}

#proactive-offer-container .form-startup ul li textarea {
	width: 277px;
	min-height: 60px;
	box-shadow: none
}

#proactive-offer-container .form-startup .separator {
	margin: 20px 0 10px
}

#proactive-offer-container .form-startup .response div {
	display: none
}

#proactive-offer-container .form-startup .button.button-white {
	margin-top: 10px;
	line-height: 3.2em;
	width: 269px
}

#proactive-offer-container .form-startup span.promo-code {
	font: 15px/1.3 DNLTB
}

#proactive-offer-container .form-startup .loading {
	left: 10px;
	top: 10px;
	width: 348px;
	padding: 50px 0 70px;
	height: 210px
}

#proactive-offer-container input[type=number]::-webkit-outer-spin-button,
#proactive-offer-container input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}

#proactive-offer-container input[type=number] {
	-moz-appearance: textfield
}

#proactive-offer-container input:-ms-input-placeholder,
#proactive-offer-container select:-ms-input-placeholder {
	color: #888
}

#proactive-offer-container input::placeholder,
#proactive-offer-container select::placeholder {
	color: #888
}

#proactive-offer-container .multiselect-container {
	cursor: pointer
}

#proactive-offer-container .multiselect-container .dropdown-field {
	width: 100%;
	min-height: 50px;
	letter-spacing: .02em;
	color: #555;
	overflow: hidden;
	font: 16px/1.5 "Proxima Nova", Arial, sans-serif;
	margin: 5px 0;
	padding: 12px 0 12px 15px;
	border: 1px solid #e1e2e3;
	border-radius: 5px;
	position: relative
}

#proactive-offer-container .multiselect-container .dropdown-field .dropdown-text {
	width: 93%;
	color: #757575
}

#proactive-offer-container .multiselect-container .dropdown-field .dropdown-arrow {
	float: right;
	font-size: 30px;
	position: absolute;
	top: 2px;
	right: 10px;
	transition: transform .5s;
	top: 50%;
	transform: translateY(-50%)
}

#proactive-offer-container .multiselect-container .dropdown-field .dropdown-arrow::after {
	content: "\e877";
	font-family: entypo;
	pointer-events: none
}

#proactive-offer-container .multiselect-container .dropdown-field .dropdown-arrow.selected {
	transform: translateY(-50%) rotate(180deg)
}

#proactive-offer-container .multiselect-container .multiselect-dropdown {
	display: none;
	width: 100%;
	background: #fff;
	color: #555;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .1)
}

#proactive-offer-container .multiselect-container .multiselect-dropdown .checkbox-item {
	padding: 10px;
	padding-left: 35px
}

#proactive-offer-container .multiselect-container .multiselect-dropdown .checkbox-item:hover {
	background-color: #f5f5f5
}

#proactive-offer-container .multiselect-container .multiselect-dropdown .checkbox-item::before {
	content: "";
	border: 1px solid #e4e4e4;
	background: #fff;
	display: inline-block;
	position: absolute;
	left: 10px;
	width: 14px;
	height: 14px;
	vertical-align: sub;
	border-radius: 3px
}

#proactive-offer-container .multiselect-container .multiselect-dropdown .checkbox-item.checkbox-item-active::after {
	content: "\e812";
	font: 11px entypo;
	color: #30aabc;
	position: absolute;
	left: 15px;
	top: 13px
}

#proactive-offer-container .multiselect-container .multiselect-dropdown .checkbox-item input[type=checkbox] {
	display: none
}

#proactive-offer-container .multicheckbox-container .checkbox-question {
	padding: 10px;
	font-size: 16px
}

#proactive-offer-container .multicheckbox-container .checkbox-container .checkbox-item {
	width: 49%;
	display: inline-block;
	padding: 10px;
	padding-left: 35px;
	vertical-align: top;
	cursor: pointer
}

#proactive-offer-container .multicheckbox-container .checkbox-container .checkbox-item::before {
	content: "";
	border: 1px solid #e4e4e4;
	background: #fff;
	display: inline-block;
	position: absolute;
	left: 10px;
	width: 14px;
	height: 14px;
	vertical-align: sub;
	border-radius: 3px
}

#proactive-offer-container .multicheckbox-container .checkbox-container .checkbox-item.checkbox-item-active::after {
	content: "\e812";
	font: 11px entypo;
	color: #30aabc;
	position: absolute;
	left: 15px;
	top: 13px
}

#proactive-offer-container .multicheckbox-container .checkbox-container .checkbox-item input[type=checkbox] {
	display: none
}

#proactive-offer-container label.checkbox-container {
	color: #3d5154;
	cursor: pointer;
	display: block;
	font: 14px/1.3 "Proxima Nova", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
	opacity: 1;
	padding: 0 0 0 25px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#proactive-offer-container label.checkbox-container input[type=checkbox] {
	border: none;
	box-shadow: none;
	cursor: pointer;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: auto
}

#proactive-offer-container label.checkbox-container .custom-check {
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: inline-block;
	height: 14px;
	left: 2px;
	padding: 0;
	position: absolute;
	top: 2px;
	width: 14px
}

#proactive-offer-container label.checkbox-container:hover input[type=checkbox]~.custom-check {
	border-color: #30aabc
}

#proactive-offer-container label.checkbox-container .custom-check::after {
	background: url(//d1eipm3vz40hy0.cloudfront.net/images/brand-kit/form-checkmark.svg) center center no-repeat;
	background-size: 8px 7px;
	color: #30aabc;
	content: "";
	display: none;
	height: 12px;
	left: 0;
	position: absolute;
	top: 0;
	width: 12px
}

#proactive-offer-container label.checkbox-container input:checked~.custom-check::after {
	display: block
}

#proactive-offer-container label.checkbox-container input:focus~.custom-check {
	border-color: #30aabc;
	outline: #3b99fc auto 5px
}

@keyframes opt-in-slide-down {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

#proactive-offer-container .radio-button-container {
	color: #3d5154;
	display: block;
	font: 14px/1.3 "Proxima Nova", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
	position: relative
}

@media only screen and (max-width:799px) {
	#proactive-offer-container .radio-button-container {
		margin: 0
	}
}

#proactive-offer-container .radio-button-container .radio-button-fields {
	display: -ms-flexbox;
	display: flex;
	width: 100%
}

#proactive-offer-container .radio-button-container label {
	display: block;
	opacity: 1;
	margin: 5px 0
}

#proactive-offer-container .radio-button-container .radio-label {
	background: 0 0;
	cursor: pointer;
	display: block;
	padding-left: 25px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font: 14px/1.3 "Proxima Nova", Arial, sans-serif;
	color: #3d5154;
	opacity: 1;
	margin-right: 30px
}

#proactive-offer-container .radio-button-container .radio-label input {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0
}

#proactive-offer-container .radio-button-container .custom-radio {
	background-color: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 50%;
	height: 14px;
	left: 0;
	position: absolute;
	top: 0;
	width: 14px;
	transition: border-color .2s
}

#proactive-offer-container .radio-button-container .radio-label:hover input~.custom-radio {
	border-color: #30aabc
}

#proactive-offer-container .radio-button-container .custom-radio::after {
	content: "";
	position: absolute;
	display: none;
	transition: all 1s
}

#proactive-offer-container .radio-button-container .radio-label input:checked~.custom-radio::after {
	display: block;
	transition: all 1s
}

#proactive-offer-container .radio-button-container .radio-label input:focus~.custom-radio {
	border-color: #30aabc;
	outline: #3b99fc auto 5px;
	border-radius: 50%
}

#proactive-offer-container .radio-button-container .radio-label .custom-radio::after {
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #30aabc
}

#proactive-offer-container .radio-button-container .radio-error {
	display: none;
	margin: 0 0 20px
}

#proactive-offer-container .opt-in-field {
	display: none
}

#proactive-offer-container .opt-in-field.active {
	animation: opt-in-slide-down .5s ease-in;
	display: block
}

#proactive-offer-container html {
	font-size: 12px
}

@keyframes dots {
	0%,
	20% {
		color: transparent;
		text-shadow: .3em 0 0 transparent, .6em 0 0 transparent
	}
	40% {
		color: #fff;
		text-shadow: .3em 0 0 transparent, .6em 0 0 transparent
	}
	60% {
		text-shadow: .3em 0 0 #fff, .6em 0 0 transparent
	}
	80%,
	100% {
		text-shadow: .3em 0 0 #fff, .6em 0 0 #fff
	}
}

#live_chat>iframe{
    height: 400px;
    width:340px; 
} 

@media only screen and (max-width:799px) {
	#proactive-offer-container .hide-mobile {
		display: inline-block
    }
   
   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {

					#live_chat>iframe{
						height: 265px;
						width:340px;
					}
}
/* Iphone 6,7,8*/
@media only screen and (min-device-width: 375px) 
                   and (max-device-width: 667px) 
                   and (orientation: landscape) {

					#live_chat>iframe{
						height: 265px;
						width:340px;
					}
}
/* Iphone 6,7,8 plus*/
@media only screen and (min-device-width: 414px) 
                   and (max-device-width: 736px) 
                   and (orientation: landscape) {

					#live_chat>iframe{
						height: 265px;
						width:340px;
					}
}

/* Iphone x */
@media only screen and (min-device-width: 375px) 
                   and (max-device-width: 812px) 
                   and (orientation: landscape) {

					#live_chat>iframe{
						height: 265px;
						width:340px;
					}
}

#proactive-offer-container #contact-widget-launcher {
	display: none;
	position: fixed;
	opacity: 1;
	right: 0;
	bottom: 0;
	height: 47px;
	margin: 10px 20px;
	transform: translateZ(0);
	z-index: 9998
}

#proactive-offer-container #contact-widget-launcher .contact-widget-button {
	background-color: #055864;
	box-sizing: border-box;
	border-radius: 999rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-family: sharp sans, Arial, sans-serif;
	font-size: 15px;
	height: 47px;
	padding: 13px 24.4px;
	white-space: nowrap;
	border: none
}

#proactive-offer-container #contact-widget-launcher .contact-widget-button:hover {
	background-color: #044c55
}

#proactive-offer-container #contact-widget-launcher .contact-widget-button span {
	display: inline-block;
	position: relative;
	top: -1px;
	vertical-align: middle
}

#proactive-offer-container #contact-widget-launcher #zd-svg-icon-16-email-stroke {
	display: inline-block;
	font-size: 16px;
	height: 1em;
	width: 1em;
	margin-right: 6px;
	position: relative;
	vertical-align: middle
}

#proactive-offer-container #contact-widget {
	transform: translateZ(0);
	position: fixed;
	opacity: 0;
	right: 0;
	bottom: 0;
	margin: 10px 20px;
	z-index: -1
}

#proactive-offer-container #contact-widget * {
	box-sizing: border-box
}

#proactive-offer-container #contact-widget .no-overflow {
	overflow: hidden
}

#proactive-offer-container #contact-widget .step {
	display: none
}

#proactive-offer-container #contact-widget .step.step-1 {
	display: block
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget {
	overflow: hidden;
	position: relative;
	margin: auto;
	max-width: 464px;
	width: 100%
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul {
	width: 100%;
	margin: 0;
	padding: 0
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul::after {
	content: "";
	display: table;
	clear: both
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li {
	margin-bottom: 20px;
	width: 100%;
	list-style: none
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li input:hover,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li textarea:hover {
	border: 1px solid #999
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li select:hover+.select-label {
	border: 1px solid #999
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li input.field-error-active,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li textarea.field-error-active,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget ul li select.field-error-active {
	border: 1px solid #eb6651
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget input,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget textarea,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget select {
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 4px;
	box-shadow: none;
	color: #333;
	font: 13px sans-serif;
	padding: 9.5px 10px;
	position: relative;
	left: 1px;
	outline: 0;
	width: calc(100% - 2px);
	height: auto
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget input:focus,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget textarea:focus,
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget select:focus {
	border: 1px solid #999
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget input[type=checkbox],
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget textarea[type=checkbox],
#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget select[type=checkbox] {
	left: 0;
	position: absolute;
	top: 0;
	width: auto
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget textarea {
	min-height: 78px;
	height: 78px;
	resize: none
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget select {
	color: #666
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget label {
	color: #777;
	display: block;
	font: 12px sans-serif;
	font-weight: 700;
	opacity: 1;
	line-height: .9!important;
	margin-bottom: 7px
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget label.checkbox-container {
	color: #3d5154;
	font: 14px proxima nova, Arial, sans-serif;
	line-height: 1.3!important;
	margin-top: 0
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget .select-wrap {
	height: 36px
}

#proactive-offer-container #contact-widget .brand-kit-form.form-contact-widget .select-wrap select {
	height: 36px
}

#proactive-offer-container #contact-widget .loading {
	box-shadow: none;
	position: relative
}

#proactive-offer-container #contact-widget .loading .submit-message {
	padding: 20px 20px 25px;
	margin: 0;
	font-size: 15px
}

#proactive-offer-container #contact-widget .form-contact-box {
	box-sizing: border-box;
	padding: 15px 10px 0;
	margin-left: 10px;
	margin-right: 10px;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden
}

#proactive-offer-container #contact-widget .form-contact-box::-webkit-scrollbar {
	box-shadow: none;
	width: 3px
}

#proactive-offer-container #contact-widget .form-contact-box::-webkit-scrollbar-thumb {
	background: #ddd;
	border-radius: 3px
}

#proactive-offer-container #contact-widget .form-contact-box::-webkit-scrollbar-track {
	margin: 15px 0
}

#proactive-offer-container #contact-widget .form-contact-box.success {
	padding-bottom: 15px
}

#proactive-offer-container #contact-widget .contact-widget-inner {
	border: 1px solid transparent;
	float: right;
	position: relative;
	width: 342px
}

#proactive-offer-container #contact-widget .contact-widget-reveal {
	border-radius: 8px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
	background-color: rgba(255, 255, 255, .98);
	position: relative
}

#proactive-offer-container #contact-widget .form-header {
	background-color: #f8f8f8;
	border-radius: 8px 8px 0 0;
	color: #555;
   padding: 12px 12px
    /*  border-bottom: 1px solid #ddd; */
}

#proactive-offer-container #contact-widget .form-title {
	font: 14px sans-serif;
	font-weight: 700;
	line-height: .9;
	text-align: center
}

#proactive-offer-container #contact-widget .form-footer {
	border-top: 1px solid #ddd;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, .08);
	padding: 5px 14px;
	height: 48px;
	position: relative
}

#proactive-offer-container #contact-widget .footer-inner {
	text-align: right
}

#proactive-offer-container #contact-widget .c-btn {
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: transparent;
	border: 1px solid #30aabc;
	border-radius: 4px;
	color: #30aabc;
	cursor: pointer;
	display: inline-block;
	font: 13px sans-serif;
	height: auto;
	margin: 0;
	min-width: 0;
	padding: 0 24px;
	line-height: 2.71429;
	overflow: visible;
	text-align: center;
	text-decoration: none;
	transition: border-color .25s ease-in-out, box-shadow .1s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	-webkit-font-smoothing: subpixel-antialiased
}

#proactive-offer-container #contact-widget .cancel-btn {
	border-color: #ddd;
	color: #999
}

#proactive-offer-container #contact-widget .cancel-btn:hover {
	background-color: #f8f8f8;
	color: #555
}

#proactive-offer-container #contact-widget .send-btn {
	color: #fff;
	float: right;
	margin-left: 5px
}

#proactive-offer-container #contact-widget .send-btn[disabled] {
	background-color: #ddd;
	border-color: transparent;
	box-shadow: none;
	cursor: default
}

#proactive-offer-container #contact-widget .send-btn:not([disabled]) {
	background-color: #055864;
	border-color: #055864
}

#proactive-offer-container #contact-widget .send-btn:not([disabled]):hover {
	background-color: #033f47;
	border-collapse: #033f47
}

#proactive-offer-container #contact-widget .widget-logo-link {
	bottom: 16px;
	left: 16px;
	position: absolute;
	text-decoration: none;
	border: none
}

#proactive-offer-container #contact-widget .close-widget-box {
	position: relative;
	z-index: 1
}

#proactive-offer-container #contact-widget .close-widget-btn {
	color: #999;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	font-size: 14px;
	line-height: normal;
	position: absolute;
	padding: 13.2px 14px;
	top: 0;
	right: 0;
	-webkit-appearance: none
}

#proactive-offer-container #contact-widget .widget-icon {
	padding-right: 1rem
}

#proactive-offer-container #contact-widget .icon-zendesk {
	margin-left: 4px;
	margin-right: 13px;
	position: relative;
	top: 10px
}

#proactive-offer-container #contact-widget .icon-zendesk svg path {
	fill: #ccc
}

#proactive-offer-container #contact-widget .icon-zendesk svg:hover path {
	fill: #03363d
}

#proactive-offer-container #contact-widget .icon-close {
	padding: 0
}

#proactive-offer-container #contact-widget .icon-close svg {
	fill: #999;
	min-width: 10px;
	min-height: 10px;
	height: 10px;
	width: 10px
}

#proactive-offer-container #contact-widget .icon-submitted {
	border: 2px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	width: 68px;
	height: 68px;
	margin-top: 14px;
	margin-bottom: 9px;
	max-width: 100%;
	padding: 14px;
	position: relative
}

#proactive-offer-container #contact-widget .icon-submitted svg {
	fill: #055864;
	min-width: 2rem;
	min-height: 1.5rem;
	width: 2rem;
	height: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

#proactive-offer-container #contact-widget .loading-dots::after {
	content: " ."
}