{% extends "base.html" %}

{% block currentMenuItem %}
<div class="main-navigation">
	<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
	<ul class="menu">
		<li class="menu-item "><a href="index.html">ImageClassification</a></li>
		<li class="menu-item "><a href="about.html">About</a></li>
		<li class="menu-item"><a href="face_recognition.html">FaceRecognition</a></li>
		<li class="menu-item current-menu-item"><a href="contact.html">Contact</a></li>
	</ul> <!-- .menu -->


</div> <!-- .main-navigation -->
{% endblock %}

{% block content %}
<div class="container">
	<div class="page">
		<div class="breadcrumbs">
			<a href="index.html">Home</a>
			<span>Contact</span>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-md-4">
					<h2>Contact</h2>
					<ul class="contact-detail">
						<li>
							<img src="/static/images/icon-contact-map.png" alt="#">
							<address><span>CNN Keras</span> <br>123 Banglore, India</address>
						</li>
						<li>
							<img src="/static/images/icon-contact-phone.png" alt="">
							<a href="tel:9876543219">+91 9876543219</a>
						</li>
						<li>
							<img src="/static/images/icon-contact-message.png" alt="">
							<a href="mailto:contact@mrs.com">contact@mrs.com</a>
						</li>
					</ul>
					<div class="contact-form">
						<input type="text" class="name" placeholder="name...">
						<input type="text" class="email" placeholder="email...">
						<input type="text" class="website" placeholder="website...">
						<textarea class="message" placeholder="message..."></textarea>
						<input type="submit" value="Send Message ">

					</div>
				</div>
				<div class="col-md-7 col-md-offset-1">
					<div class="map"></div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- .container -->
{% endblock %}
{% block script %}
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}